{% extends 'gestion/base.html' %}

{% block title %}Iniciar sesión{% endblock %}
<div id="main-content">
{% block content %}
<h2>Iniciar sesión</h2>

<form method="post">
    {% csrf_token %}    

     <p>
       <label for="id_username">Usuario:</label>
       <input type="text" name="username" id="id_username" required 
           autocomplete="new-password" maxlength="150" autocapitalize="none">
       </p>

     <p>
        <label for="id_password">Contraseña:</label>
        <input type="password" name="password" id="id_password" required 
           autocomplete="new-password" value="">
     </p>

     <button type="submit">🔐 Iniciar sesión</button>
</form>

<p>¿No tienes cuenta? <a href="{% url 'registro' %}">🧾 Regístrate</a></p>
{% endblock %}
</div>