{% extends 'gestion/base.html' %}
{% block title %}Listado Archivo{% endblock %}

<div id="main-content">

{% block content %}
<h2>Listado de Archivos</h2>
{% if user.is_staff %}
    <a href="{% url 'archivo_create' %}">📥 Subir nuevo archivo</a>
{% endif %}
<p>Sesión iniciada como: {{ user.username }}</p>
<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;padding:0;">🔐 Cerrar sesión</button>
</form>

<form method="get">
    <div>
    <label>Asignatura:</label>
    <select name="asignatura">
        <option value="">Todas</option>
        {% for asignatura in asignaturas %}
            <option value="{{ asignatura.id }}" {% if asignatura.id|stringformat:"s" == asignatura_actual %}selected{% endif %}>
                {{ asignatura.nombre }}
            </option>
        {% endfor %}
    </select>

    <label>Trimestre:</label>
    <select name="trimestre">
        <option value="">Todos</option>
        <option value="1" {% if trimestre_actual == '1' %}selected{% endif %}>1º Trimestre</option>
        <option value="2" {% if trimestre_actual == '2' %}selected{% endif %}>2º Trimestre</option>
        <option value="3" {% if trimestre_actual == '3' %}selected{% endif %}>3º Trimestre</option>
        <option value="4" {% if trimestre_actual == '4' %}selected{% endif %}>* Vacaciones</option>
    </select>

    <label>Curso:</label>
    <select name="curso">
        <option value="">Todos</option>
            <optgroup label="Primaria">
                {% for opcion, texto in cursos_primaria %}
                  <option value="{{ opcion }}" {% if opcion == curso_actual %}selected{% endif %}>{{ texto }}</option>
                {% endfor %}
            </optgroup>

            <optgroup label="Secundaria">
                {% for opcion, texto in cursos_secundaria %}
                  <option value="{{ opcion }}" {% if opcion == curso_actual %}selected{% endif %}>{{ texto }}</option>
                {% endfor %}
            </optgroup>   
        
    </select>

    <button type="submit">Filtrar</button>
</div>
</form>
<table border="1" cellspacing="0" cellpadding="5">
</thead>
    <tr>
        <th>Nombre de archivo</th>
        <th>Asignaturas</th>        
        <th>Curso</th>
        <th>Trimestre</th>
        <th>Acciones</th>
    </tr>
</thead>
</tbody>

  {% for archivo in archivos %}
    <tr>
      <td>  
       {% if user.is_superuser %}
            <a href="{% url 'editar_alumno' alumno.id %}">✏️ Editar</a> |
            <a href="{% url 'eliminar_alumno' alumno.id %}" onclick="return confirm('¿Seguro que deseas eliminar este alumno?')">🗑️ Eliminar</a>
        {% else %}
            <a href="{% url 'editar_alumno' alumno.id %}">✏️ Editar</a> |
            <a href="{% url 'solicitar_eliminacion_alumno' alumno.id %}">📩 Solicitar eliminación</a>
        {% endif %}
      </td>  
    </tr>
{% endfor %}

</table>
{% endblock %}
</div>
