{% extends 'gestion/base.html' %}
{% block title %}Ver Archivo{% endblock %}

<div id="main-content">

{% block content %}
<h2>Visualización del archivo</h2>

<a href="{% url 'archivo_list' %}">⬅️ Volver al listado</a>

<div style="margin-top: 20px;">
  {% if archivo.archivo %}

  <!-- Pdf conseguido -->
    {% if archivo.extension == "pdf" %}
        <!--<embed src="{{ archivo.archivo.url }}" width="100%" height="600px" type="application/pdf"/> -->
        <!--  <a href="{{ archivo.archivo.url }}" target="_blank">Ver PDF directo</a>-->
       <object data="{{ archivo.archivo.url }}" type="application/pdf" width="100%" height="600px">
           <p>Tu navegador no puede mostrar el PDF. <a href="{{ archivo.archivo.url }}">Descargar PDF</a></p>
        </object>
    {% endif %}

    {% if archivo.extension == "mp4" %}
        <video width="100%" height="auto" controls>
            <source src="{{ archivo.archivo.url }}" type="video/mp4">
            Tu navegador no soporta videos HTML5. <a href="{{ archivo.archivo.url }}">Descargar video</a>.
        </video>

    {% endif %}
<!-- Txt conseguido -->
    {% if archivo.extension == "txt" %}
        <h3>Contenido del archivo de texto:</h3>
        <pre style="background: #f8f8f8; padding: 1em; border: 1px solid #ccc; overflow-x: auto;">
    {{ texto_contenido|linebreaksbr }}"
       </pre>
    {% endif %}
<!-- jpg Conseguido -->       
    {% if archivo.extension == "jpg" or archivo.extension == "jpeg" or archivo.extension == "png" %}
        <img src="{{ archivo.archivo.url }}" alt="Imagen" style="max-width:100%; height:auto;">
    {% endif %}

    {% if archivo.extension in extensiones_embed %}
        <iframe src="{{ enlace_modificado }}" width="100%" height="600px" frameborder="0">
            Este archivo no puede mostrarse. <a href="{{ archivo.archivo.url }}">📤 Descargar aquí</a>.
        </iframe>

    {% elif archivo.extension == "ppsx" or archivo.extension == "pps" %}
       <p>⚠️ Este formato no puede visualizarse directamente en línea.</p>
       <a href="{{ archivo.archivo.url }}">📥 Descargar archivo PPSX</a>
    {% endif %}

    {% if enlace_modificado %}
    <iframe src="{{ enlace_modificado }}" width="100%" height="600px" frameborder="0"></iframe>

    {% if "drive.google.com" in archivo.enlace_externo %}
        <p>Si el contenido no se carga correctamente, haz clic aquí:</p>
        <a href="{{ archivo.enlace_externo }}" target="_blank">📄 Ver archivo en Google Drive</a>
    {% endif %}

    {% elif archivo.enlace_externo %}
      <p><a href="{{ archivo.enlace_externo }}" target="_blank">📄 Abrir enlace externo</a></p>
    {% endif %}

   {% else %}
    <p>⚠️ No hay archivo disponible.</p>
  {% endif %}

</div>
{% endblock %}
</div>
