{% extends 'gestion/base.html' %}
{% block title %}Eliminar Archivo{% endblock %}

<div id="main-content">

{% block content %}
<h2>Confirmar eliminación</h2>
    
<p>¿Estás seguro de que quieres eliminar el archivo </strong>{{ object }}</strong></p>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-eliminar" type="submit" onclick="return confirm('¿Estás seguro de eliminar este archivo?')"> 🗑️ Si. Eliminar</button>

</form>

<a class="btn btn-cancelar" href="{% url 'archivo_list' %}">🔙 Cancelar</a>

{% endblock %}
</div>