{% extends 'gestion/base.html' %}
{% load static %}
{% block title %}Crear Asignatura{% endblock %}

<div id="main-content">
{% block content %}

<div class="form-container">
    <h2>Crear Nueva Asignatura</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="message message-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <script>
            setTimeout(() => {
                const msg = document.querySelector('.message');
                if (msg) {
                    msg.style.display = 'none';
                    window.location.href = "{% url 'asignatura_list' %}";
                }
            }, 3000);
        </script>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nombre">Nombre:</label>
            <input type="text" name="nombre" id="id_nombre" value="{{ form.nombre.value|default_if_none:'' }}">
            {% if form.nombre.errors %}
                <div class="message message-error">{{ form.nombre.errors.0 }}</div>
            {% endif %}
        </div>

        <button class="btn btn-guardar" type="submit" class="btn-submit">💾 Guardar</button>
        <a class="btn btn-cancelar" href="{% url 'asignatura_list' %}">🔙 Cancelar</a>
    </form>
</div>
{% endblock %}
</div>
