{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Los Archivos de Mi Cole{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Los Archivos de Mi Cole</h1>
        <nav>
          <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'archivo_list' %}">Ver archivos</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'asignatura_list' %}">Asignaturas</a></li>
                    <li><a href="{% url 'archivo_create' %}">Subir archivo</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
           </ul>
        </nav>
        <hr>
    </header>
    <main>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    
    <footer>
        <hr>
        <p style="text-align:center;">&copy; {{ now|date:"Y" }} Mi Cole</p>
    </footer>

    <script>
       // Cierra automáticamente los mensajes después de 4 segundos (4000 milisegundos)
       setTimeout(() => {
           const messages = document.querySelectorAll('ul.messages li');
           messages.forEach(msg => {
              msg.style.transition = 'opacity 0.5s ease';
              msg.style.opacity = '0';
             setTimeout(() => msg.remove(), 500);
             });
        }, 4000);
    </script>

</body>
</html>
